- @title = t(".title", :default => "Questions to the topic")

%h2= t(".heading", :default => "All submitted questions to the topic")

%p= t(".step_description", :default => "Do you have any question regarding the topic?")

