[submodule "app/node.js/socket.io"]
	path = app/node.js/socket.io
	url = git://github.com/LearnBoost/Socket.IO-node.git
[submodule "app/node.js/node_redis"]
	path = app/node.js/node_redis
	url = git://github.com/mranney/node_redis.git
