%ul#ideas
  - @supervision.ideas.each do |idea|
    %li[idea]
      = render :layout => "supervisions/contentable", :object => idea do
        = render "supervisions/rating", :rateable => idea

  #current_step{:"data-step" => @supervision.state}

