// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$blueprint-grid-columns: 24
$blueprint-container-size: 950px
$blueprint-grid-margin: 10px

// Use this to calculate the width based on the total width.
// Or you can set $blueprint-grid-width to a fixed value and unset $blueprint-container-size -- it will be calculated for you.
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin

$border-radius: 10px

// http://colorschemedesigner.com/#3nd1Tw0w0w0w0
$primary-color-1: #04819e
$primary-color-2: #206676
$primary-color-3: #015367
$primary-color-4: #38b2ce
$primary-color-5: #60b9ce
$secondary-color-a-1: #1435ad
$secondary-color-a-2: #2c3e82
$secondary-color-a-3: #071d70
$secondary-color-a-4: #4867d6
$secondary-color-a-5: #6e85d6
$secondary-color-b-1: #00bf32
$secondary-color-b-2: #248f40
$secondary-color-b-3: #007c21
$secondary-color-b-4: #38df64
$secondary-color-b-5: #64df85

$blueprint-background-color: #fff

$body-bg-color: #f0f0ff

$header-pagetitle-color: #000
$header-pagetitle-hover-color: #f00
$header-pagetitle-active-color: $header-pagetitle-hover-color
$header-pagetitle-visited-color: $header-pagetitle-color

$link-color: $primary-color-1
$link-hover-color: $primary-color-2
$link-active-color: $link-hover-color
$link-visited-color: $link-color

$signup-link-color: #fff
$signup-link-hover-color: #fff
$signup-link-active-color: $signup-link-hover-color
$signup-link-visited-color: $signup-link-color

$signup-link-bg-color: $secondary-color-b-1
$signup-link-hover-bg-color: $secondary-color-b-2
$signup-link-active-bg-color: $signup-link-hover-bg-color
$signup-link-visited-bg-color: $signup-link-bg-color
