$content-columns: $blueprint-grid-columns - 2 - 6
#supervisions_show
  .supervision_statusbar
    +reset_box_model
    +reset_list_style
    +horizontal_list
    li
      +reset_box_model
      border-right: 1px solid black
      border-top: 1px solid black
      border-bottom: 1px solid black
      &.state
        padding: 0.5em 0.75em
        background-color: #e0e0ee
      &.current_state
        background-color: #f0f0ff
      &:first-child
        +border-left-radius(5px)
        border-left: 1px solid black
        padding-left: 1em
      &:last-child
        +border-right-radius(5px)
        padding-right: 1em
      input[type=submit]
        border: none
        background: transparent
        margin: 0
        padding: 0
  .topic, .question, .idea, .ideas_feedback, .solution, .solutions_feedback, .supervision_feedback
    overflow: hidden
    +append-bottom
    +border-top-left-radius($border-radius)
    +border-bottom-right-radius($border-radius)
    background-color: #F4F8F8
    border-top: 1px solid $primary-color-1
    border-left: 1px solid $primary-color-1
    border-bottom: 2px solid $primary-color-3
    border-right: 2px solid $primary-color-3
    .user
      +push(1)
      +column(4)
      +prepend-top
      p
        font-weight: bold
        font-size: large
        +ellipsis
    .content
      +prepend-top
      overflow: auto
      p
        +column($content-columns, true)
        text-align: justify
      .answer, .rating
        +column($content-columns, true)
        +append-bottom
        border: 1px solid $primary-color-5
        .head
          +reset-box-model
          font-weight: bold
          background-color: $primary-color-5
          color: $primary-color-3
          overflow: auto
          p
            font-style: normal
            text-align: left
        p, form
          +reset-box-model
          +push(1)
          +column($content-columns - 2, true)
          font-style: italic
          text-align: justify
