$content-columns: $blueprint-grid-columns - 2 - 6
#supervisions_show
  .topic, .question, .idea, .ideas_feedback, .solution, .solutions_feedback, .supervision_feedback
    overflow: hidden
    +append-bottom
    +border-top-left-radius($border-radius)
    +border-bottom-right-radius($border-radius)
    background-color: #F4F8F8
    border-top: 1px solid $primary-color-1
    border-left: 1px solid $primary-color-1
    border-bottom: 2px solid $primary-color-3
    border-right: 2px solid $primary-color-3
    .user
      +push(1)
      +column(4)
      +prepend-top
      p
        font-weight: bold
        font-size: large
        +ellipsis
    .content
      +prepend-top
      overflow: auto
      p
        +column($content-columns, true)
        text-align: justify
      .answer, .rating
        +column($content-columns, true)
        +append-bottom
        border: 1px solid $primary-color-5
        .head
          +reset-box-model
          font-weight: bold
          background-color: $primary-color-5
          color: $primary-color-3
          overflow: auto
          p
            font-style: normal
            text-align: left
        p, form
          +reset-box-model
          +push(1)
          +column($content-columns - 2, true)
          font-style: italic
          text-align: justify
