$content-columns: $blueprint-grid-columns - 2 - 6

= supervision-header
  margin-top: 1.5em
  header
    margin: 0
  h1
    font-size: 1.5em

= supervision-item
  overflow: auto
  border: 1px solid #808088
  margin-bottom: 1em
  +box-shadow

= supervision-item-big
  +supervision-item
  +user-gravatar-big

= supervision-item-small
  +supervision-item
  +user-gravatar-small
  width: 31.3%
  margin-right: 1%
  margin-left: 1%
  float: left

= user-gravatar
  .user
    +reset_box_model
    float: left
    img.gravatar
      border-color: transparent
      border-style: solid
    &.problem_owner
      img.gravatar
        border-color: $primary-color-5
    a
      +reset_box_model
      display: block
    .name
      display: none

= user-gravatar-small
  +user-gravatar
  .user
    width: 30px
    img.gravatar
      border-width: 2px
      width: 24px
      height: 24px
  .content
    margin-top: 2px
    padding-left: 40px
= user-gravatar-big
  +user-gravatar
  .user
    width: 70px
    img.gravatar
      border-width: 5px
      width: 60px
      height: 60px
  .content
    margin-top: 5px
    padding-left: 80px

#supervisions_show, #topics_index
  .content
    padding-bottom: 1em
    padding-right: 1em

    p
      text-align: justify
      margin-bottom: 0
    p + p
      margin-top: 1em

    textarea
      +reset_box_model
      width: 100%
      border: 1px solid $primary-color-1
      &:focus
        +box_shadow($primary-color-2, 0, 0, 5px)

  .supervision_statusbar
    +reset_box_model
    +reset_list_style
    +horizontal_list
    li
      +reset_box_model
      border-right: 1px solid black
      border-top: 1px solid black
      border-bottom: 1px solid black
      &.state
        padding: 0.5em 0.75em
        background-color: #e0e0ee
      &.current_state
        background-color: #f0f0ff
      &:first-child
        +border-left-radius(5px)
        border-left: 1px solid black
        padding-left: 1em
      &:last-child
        +border-right-radius(5px)
        padding-right: 1em
      input[type=submit]
        border: none
        background: transparent
        margin: 0
        padding: 0

.supervision
  footer
    clear: both

  .topics_part, .topic_votes_part, .questions_part, .ideas_part, .ideas_feedback_part, .solutions_part, .solutions_feedback_part, .supervision_feedbacks_part
    +supervision-header
    overflow: visible
    clear: both

  .form
    +supervision-item-big
    +border-top-right-radius($border-radius)
    margin-bottom: 2em
  textarea
    height: 60px
  a.discard
    display: block
    font-weight: bold

  .list
    overflow: auto
    .topic, .ideas_feedback, .solutions_feedback
      +supervision-item-big
      +border-top-right-radius($border-radius)

    .question, .idea, .solution, .supervision_feedback
      +supervision-item-small

  .answer, .rating
    overflow: auto
    border-top: 1px solid #84888e
    border-bottom: 1px solid #84888e
    border-left: 0.5em solid #84888e
    color: #424447
    background-color: #f0f0f0
    margin-top: 1em
    padding: 0.5em
    font-style: italic
    .head
      display: none

#topics_index
  .list
    .topic
      +supervision-item-small

