%section.gathering_topics_part
  - if supervision.gathering_topics? || supervision.waiting_for_members?
    - unless supervision.posted_topic?(current_user)
      .topic.form
        = render current_user
        .content
          = render "topics/form", :supervision => supervision

  .list
    = render supervision.topics, :supervision => supervision
