- @title = t(".title", :default => "Submitted topics")

%h2= t(".heading", :default => "List of already submitted topics")

= render "list", :topics => @topics

= javascript_tag %Q{setTimeout("document.location=''", 1000);}
