- @title = t(".title", :default => "Submitted topics")

%article
  %header
    %h1= t(".heading", :default => "List of already submitted topics")

  = render "topics", :topics => @topics

-#= javascript_tag %Q{setTimeout("window.location.reload(true)", 1000);}

