- @title = t(".title", :default => "New Topic")

%p= t(".content.hint", :default => "Enter your problem or leave this blank if you do not have any.")

= render :layout => "supervisions/contentable_form", :locals => {:contentable => @topic} do |f|
  = f.buttons do
    = f.commit_button t(".submit", :default => "Submit Topic")

