%ul.chatting_users
  - chat_users.each do |cu|
    %li
      = gravatar_for cu, :size => 30
      %p.name= cu.name
      %ul.actions
        %li= select_leader_link(@chat_room, cu)
        %li= select_problem_owner_link(@chat_room, cu)

