%ul.chatting_users
  - chat_users.each do |cu|
    %li.chat_user{:class => chat_user_class(@chat_room, cu)}
      .brief
        = gravatar_for cu, :size => 60
        %p.name= cu.name
      %ul.actions.contextMenu
        %li= select_leader_link(@chat_room, cu)
        %li= select_problem_owner_link(@chat_room, cu)

