- @title = t(".title")

%article
  %header
    %h1= t(".heading")

  - unless @supervision.in_progress?
    = t(".not_in_progress", :state => @supervision.state)
    %p= link_to(t(".new_supervision"), new_group_supervision_path(@supervision.group))
