.group_brief
  .inner
    .title= link_to group_name(group, current_user), group
    .description
      :markdown
        #{group.description}
    %ul.actions
      = render "groups/navigation", :group => group
