%article
  = link_to t(".links.edit", :default => "Edit"), edit_group_path(@group)

  = render "users/list", :users => @group.members, :selected_user => @group.founder

  = render "navigation", :group => @group
