%article
  %header
    %h1
      = gravatar_for(@user)
      = @user.name

  %h2= t(".group_list_title", :user_name => @user.name, :default => "My groups")
  %ul.groups
    - @user.groups.each do |group|
      %li= link_to(group_name(group, @user), group_path(group))

