%ul.rules
  - @chat_room.group.rules.each do |rule|
    %li.rule{:class => @chat_room.current_rule == rule ? 'current' : ''}
      %p= rule.name
      %ul.actions
        - unless @chat_room.current_rule == rule
          %li= link_to t(".activate_link", :default => "Activate"), "#" + select_current_rule_chat_room_path(@chat_room, :rule_id => rule.id)

