%p
  Die Kollegiale Fallberatung (oder Intervision) ist eine Beratung unter beruflich Gleichgestellten, bei der nach Lösungen für ein konkretes Problem gesucht wird, ohne zwingendes Vorhandensein von Fall-basierter Fachkompetenz bei den Beteiligten.
  = succeed "." do
    %a{:href => "http://de.wikipedia.org/wiki/Kollegiale_Fallberatung"} Lesen Sie mehr auf der deutschsprachigen Wikipedia