%p
This software will be released as part of Patongo!
= succeed "." do
  %a{:href => "http://www.patongo.de/"} Patongo project page
%br
To get more information on peer group supervision, see the
= succeed "." do
  %a{:href => "http://www.peer-supervision.com/"} web page 
by Kim-Oliver Tietze.
