%p
Diese Software wird als Teil von Patongo entwickelt!
= succeed "." do
  %a{:href => "http://www.patongo.de/"} Patongo Projekt Seite
%br
Um mehr über Kollegiale Beratung zu erfahren, besuchen Sie die
= succeed " " do
  %a{:href => "http://www.peer-supervision.com/"} Webseite 
von Kim-Oliver Tietze.
