%p
Get help on Ruby on the software at our wiki space at GitHub!
= succeed "." do
  %a{:href => "http://github.com/wolfgangihloff/peergroupsupervision/wiki"} Rails Tutorial help page
%br
To get more information on peer group supervision, see the
= succeed "." do
  %a{:href => "http://www.peer-supervision.com/"} web page 
by Kim-Oliver Tietze.