- if signed_in?
  %table.front
    %tr
      %td.main
      %td.sidebar.round
        = render 'pages/user_info'
        = render 'pages/stats'
- else
  %h1 Peer Supervision Groups
  %p
    This is the live test site for the Peer Supervision Groups project, for questions or comments visit our
    %a{:href => "http://github.com/wolfgangihloff/peergroupsupervision"} github site.
  %h2 About Peer Supervision Groups
  =render 'about'
  = link_to "Sign up now!", signup_path, :class => "signup_button round"
