
.sidebar.round
  = render 'pages/user_info'
  %div Your groups
  - current_user.groups.each do |group|
    = render 'groups/group_brief', :group => group

%h2 Latest groups
.groups
  - Group.newest.each do |group|
    = render 'groups/group_brief', :group => group

