- @title = t(".title", :default => "Topic voting")

%h2= t(".heading", :default => "List of all submitted topics")

%p= t(".step_description", :default => "Waiting for others to vote.")

= render "topics/list", :topics => @topics

= javascript_tag %Q{setTimeout("document.location=''", 1000);}

