- @title = t(".title", :default => "Topic voting")

%article
  %header
    %h1= t(".heading", :default => "All submitted topics")

  %p= t(".step_description", :default => "Waiting for others to vote.")

  = render "topics/topics", :topics => @topics

