- @title = t(".title", :default => "Topic voting")

%h2= t(".heading", :default => "All submitted topics")

%p= t(".step_description", :default => "Waiting for others to vote.")

= render "topics/topics", :topics => @topics

= javascript_tag %Q{setTimeout("window.location.reload(true)", 1000);}

