- @title = t(".title", :default => "Topic voting")

%article
  %header
    %h1= t(".heading", :default => "All submitted topics")
    %h2= t(".step_description", :default => "Vote on the topic you want to discuss.")

  = render "topics/topics", :topics => @topics

