= semantic_form_for(SolutionsFeedback.new, :url => supervision_solutions_feedback_path(@supervision)) do |f|
  = f.inputs do
    = f.input :content, :hint => t("supervisions.show.solutions_feedback_content_hint")
  = f.buttons :commit
