%p
  = t(".supervision_finished", :default => "This supervision is finished.")
  - if @supervision.group.current_supervision.present?
    = link_to(t(".go_to_current", :default => "Go to current supervision session"), supervision_step_path(@supervision.group.current_supervision))
  - else
    = link_to(t(".create_new", :default => "Create new?"), new_group_supervision_path(@supervision.group))
