- @title = t(".title", :default => "Supervisions list")

%article
  %header
    %h2= t(".heading", :default => "Your current supervisions")

    %ul
      - @supervisions.each do |supervision|
        %li
          = link_to supervision_path(supervision) do
            = t(".supervision", :default => "group: %{group} - %{date}", :group => supervision.group_name, :date => l(supervision.updated_at, :format => :short))
          = supervision.topic_content
