- form_for [@chat_room, @chat_update], :html => {:autocomplete => "off"}  do |f|
  = hidden_field_tag :update_type, "commit"
  .field
    = f.label :message
    = f.text_field :message
  .actions
    = f.submit "Send"

