%div[solution]
  =render solution.user
  .content
    %p= solution.content
    - if solution.rating
      .rating
        .head
          %p= t(".rating", :default => "Rating")
        = form_tag "#" do
          - 1.upto(5) do |i|
            = radio_button_tag :solution, :rating, i, { :disabled => true, :class => "star" }
