%ul#solutions
  - @supervision.solutions.each do |solution|
    %li[solution]
      = render :layout => "supervisions/contentable", :object => solution do
        = render "supervisions/rating", :rateable => solution

  #current_step{:"data-step" => @supervision.state}

