#footer.span-24.last.round
  %ul.navigation
    %li= link_to t(".links.about", :default => "About"), about_path
    %li= link_to t(".links.contact", :default => "Contact"), contact_path
    %li= link_to t(".links.github", :url => "http://github.com/wolfgangihloff/peergroupsupervision", :default => "%{url} on GitHub"), "http://github.com/wolfgangihloff/peergroupsupervision"

