#footer.span-24.last.round
  %ul.navigation
    %li= link_to "About", about_path
    %li= link_to "Contact", contact_path
    %li
      %a{:href => "http://github.com/wolfgangihloff/peergroupsupervision"} on GitHub
