= stylesheet_link_tag 'compiled/custom', :media => 'screen'
= stylesheet_link_tag 'formtastic'
= stylesheet_link_tag 'compiled/supervision', :media => 'screen'
= stylesheet_link_tag 'jquery.rating', :media => 'screen'

